.padding {
	padding: 40px;
	background: #ffdf8c;
	background-clip: border-box;
	@media (max-width: 1225px) {
		padding: calc(5px + (40 - 5) * ((100vw - 320px) / (1225 - 320)));
	}
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
}
